// 主题色
$theme-color: #EEA935;
$theme-dark-color: #212121;

// 白色
$white: #E9E9F4;
// 黑色
$black: #262631;
// 亮灰色
$light_gray: #9B9B9B;
$light_gray1: #eeeeee;
$light_gray2: #cccccc;

// 字体灰色1
$text-gray-color1: #b9b9b9;
$text-gray-color2: #a4a4a4;
$text-gray-color3: #929292;
$text-gray-color4: #212121;
$text-gray-color5: #404040;
$text-gray-color6: #606060;
$text-gray-color7: #7A9187;
$light-green: #BAFAE1;
$default-color:#212121;



// 点缀色
$adorn-green: #4FC295;
$adorn-red: #FF242F;
$adorn-pink: #FD6A62;
$adorn-orange: #FF7428;
$adorn-gold: #C68507;
$adorn-yellow: #FDC331;


// 分割线
$split-line-color1: #525252;
$split-line-color2: #E2E2E2;

$page-bg-color5:#22211e;
// 局部背景颜色
$section-bg-color1: #393939;
$section-bg-color2: #D9E0DD;
$page-bg-color1: #f6f6f6;
$page-bg-color2: #f1f1f1;

$trans-color:linear-gradient(to bottom, #d4ae6d, #fedf9d);